# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# clib packages
Tsinghua_Online_Judge_problem/Deduplicate/hash
Tsinghua_Online_Judge_problem/Deduplicate/dict.c
Tsinghua_Online_Judge_problem/Deduplicate/uthash
